// IMPORTS

@import "../../vendors/bootstrap/less/bootstrap.less";

// VARIABLES

@imageUrl: "../../../demo/images/";

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1, h2, h3 {
	margin-bottom: 0.6em;
}

span.required {
	color: #F00;
}