// PRE-IMPORTS

@import "../../lib/bootstrap/less/bootstrap.less";
//@import "../yii/vendors/TextHighlighter/highlight.css";

// VARIABLES

@imageUrl: "../../../demo/images/";

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.6em;
}

footer {
	.powered {
		color: #888;
		margin-bottom: 20px;
	}

	.copy {
		color: #666;
	}
}

.hl-code pre {
    background: #FCFCFC;
    border-color: #EEE transparent #EEE;
	font-family: "Menlo", "Consolas", "Courier New", Courier, mono;
	font-size: 11px;
	.border-radius(0);
}

.popover h3.popover-title {
	margin-bottom: 0;
}

span.required {
	color: #F00;
}

.version {
	color: #CCC;
	margin: 10px 10px 10px;
}

section {
	padding-top: 50px;

	a.top {
		display: block;
		text-align: right;
	}
}

#bootNavbar .navbar-inner > .container {
	width: auto;
}

#bootMenu .menuCol {
	min-height: 140px;
}

#bootTabbed .tabbed {
	margin-bottom: 20px;
}

#bootThumbs .list-view {
	padding-top: 30px;
}

#bootActiveForm .form-vertical .control-group > label {
	font-weight: bold;
}

// POST-IMPORTS

// Responsive style must be included after the body padding has been set.
@import "../../lib/bootstrap/less/responsive.less";