@import "../css/highlight.css";
/**** Start imported file `../../lib/bootstrap/less/mixins.less` ****/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/**** End imported file `../../lib/bootstrap/less/mixins.less` ****/
body {
  padding-top: 60px;
  padding-bottom: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6em;
}
p {
  font-size: 14px;
  margin-bottom: 1.6em;
}
.hero-unit h1 {
  margin-bottom: 0.4em;
}
.hero-unit p {
  margin-bottom: 0;
  text-align: justify;
}
.navbar .add-this {
  background: #EEE;
  margin: 6px 0 6px 10px;
  padding: 6px 12px;
  /**** Start rules from `.border-radius` (defined in `C:/wamp/www/Crisu83/yii-bootstrap/demo/less/../../lib/bootstrap/less/mixins.less` on line: 325) ****/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /**** End rules from `.border-radius` ****/
}
.subnav {
  border: 1px solid #E5E5E5;
  font-size: 12px;
  /**** Start rules from `.border-radius` (defined in `C:/wamp/www/Crisu83/yii-bootstrap/demo/less/../../lib/bootstrap/less/mixins.less` on line: 325) ****/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /**** End rules from `.border-radius` ****/
  /**** Start rules from `.size` (defined in `C:/wamp/www/Crisu83/yii-bootstrap/demo/less/../../lib/bootstrap/less/mixins.less` on line: 73) ****/
  width: 100%;
  height: 36px;
  /**** End rules from `.size` ****/
  /**** Start rules from `.vertical` (defined in `C:/wamp/www/Crisu83/yii-bootstrap/demo/less/../../lib/bootstrap/less/mixins.less` on line: 475) ****/
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -ms-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: linear-gradient(top, #f5f5f5, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
  /**** End rules from `.vertical` ****/
}
.subnav.subnav-fixed {
  border-color: #D5D5D5;
  border-width: 1px 0 0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  /**** Start rules from `.border-radius` (defined in `C:/wamp/www/Crisu83/yii-bootstrap/demo/less/../../lib/bootstrap/less/mixins.less` on line: 325) ****/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  /**** End rules from `.border-radius` ****/
  /**** Start rules from `.box-shadow` (defined in `C:/wamp/www/Crisu83/yii-bootstrap/demo/less/../../lib/bootstrap/less/mixins.less` on line: 332) ****/
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  /**** End rules from `.box-shadow` ****/
}
.subnav .nav {
  margin: 0 auto;
  max-width: 1170px;
}
.subnav .nav  > li > a {
  margin: 0;
  padding: 11px;
  border-left: 1px solid whiteSmoke;
  border-right: 1px solid #E5E5E5;
  /**** Start rules from `.border-radius` (defined in `C:/wamp/www/Crisu83/yii-bootstrap/demo/less/../../lib/bootstrap/less/mixins.less` on line: 325) ****/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  /**** End rules from `.border-radius` ****/
}
.subnav .nav  > li:first-child > a {
  border-left: 0;
}
.subnav .nav  > li:last-child > a {
  border-right: 0;
}
.subnav .nav  > .active > a, .subnav .nav .action > a:hover {
  background-color: #E9E9E9;
  border-right-color: #DDD;
  color: #777;
  /**** Start rules from `.box-shadow` (defined in `C:/wamp/www/Crisu83/yii-bootstrap/demo/less/../../lib/bootstrap/less/mixins.less` on line: 332) ****/
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  /**** End rules from `.box-shadow` ****/
}
footer .powered {
  color: #888;
  margin-bottom: 20px;
}
footer .copy {
  color: #666;
}
span.required {
  color: #F00;
}
.popover h3.popover-title {
  margin-bottom: 0;
}
section {
  padding-top: 40px;
}
section a.top {
  display: block;
  text-align: right;
}
#bootNavbar .navbar-inner > .container {
  width: auto;
}
#bootMenu .menuCol {
  min-height: 140px;
}
#bootTabbable .tabbable {
  margin-bottom: 20px;
}
#bootTabbable .tabbable.tabbable-placed {
  width: 340px;
}
#bootThumbs .list-view {
  padding-top: 30px;
}
#bootActiveForm .form-vertical .control-group > label {
  font-weight: bold;
}
.hl-code {
  margin-bottom: 20px;
}
.hl-code pre {
  background: #FCFCFC;
  border-color: #EEE transparent #EEE;
  font-family: "Menlo", "Consolas", "Courier New", Courier, mono;
  /**** Start rules from `.border-radius` (defined in `C:/wamp/www/Crisu83/yii-bootstrap/demo/less/../../lib/bootstrap/less/mixins.less` on line: 325) ****/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  /**** End rules from `.border-radius` ****/
}
.maintenance .hero-unit {
  text-align: center;
}
.maintenance .hero-unit p {
  text-align: inherit;
}
@media (max-width: 980px) {
  body {
    padding-top: 0px;
  }
}
